.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Select Representative and Issue

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = form_with url: representative_new_page2_my_news_item_path, method: :get do |f|
            .form-group
                = f.label :representative_id, 'Select Representative'
                = f.collection_select :representative_id,
                @representatives_list, :last, :first, prompt: 'Choose a representative', class: 'form-control'

            .form-group.mt-3
                = f.label :issue_id, 'Select Issue'
                = f.collection_select :issue_id, NewsItem.issue_list,
                 :last, :first, prompt: 'Choose an issue', class: 'form-control'

            .form-group.mt-3
                = f.submit 'Search', class: 'btn btn-primary'
